@model OrderAndErrors

@{
    ViewBag.Title = "Создание заказа";
    Layout = "_Layout";
}

<h2>Заказ</h2>

<div class="row">
<div class="col-md-6">
    <form asp-action="Create" asp-controller="Orders" method="post">
        <div class="form-group mb-3">
            <label for="Name" class="mb-2">Имя покупателя</label>
            <input asp-for="Order.Name"
                   type="text"
                   class="form-control"
                   id="Name"
                   placeholder="Имя">
        </div>
        <div class="form-group mb-3">
            <label for="phone" class="mb-2">Номер телефона</label>
            <input asp-for="Order.PhoneNumber"
                   type="text"
                   class="form-control"
                   id="phone"
                   placeholder="+ 7 777 777 77 77">
        </div>
        <div class="form-group mb-3">
            <label for="adress" class="mb-2">Адрес</label>
            <input asp-for="Order.Adress"
                   type="text"
                   class="form-control"
                   id="adress"
                   placeholder="Сейфуллина 498, 2 этаж, офис 207">
        </div>
        
        <div class="form-group mb-3">
            <label for="device" class="mb-2">Выбран товар</label>
            <input disabled type="text"
                   class="form-control"
                   id="device"
                   value="@Model.Order.Product.Brand.Name @Model.Order.Product.Model">
        </div>
        <input type="hidden" asp-for="Order.Product.Id" value="@Model.Order.Product.Id">
        <button type="submit" class="btn btn-outline-info mt-3">Заказать</button>
    </form>
    @{
            if (Model.ErrorViewModel.Errors.Any())
               {
                   foreach (var error in Model.ErrorViewModel.Errors)
                   {
                        <p class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                            @error.ErrorMessage
                        </p>
                   }
               }
        }
</div>
</div>
