@model CreateProductViewModel

@{
    ViewBag.Title = "Создание товара";
    Layout = "_Layout";
}

 <h2>Запоните поля для добавления новой позиции</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label for="prod_name" class="mb-2">Наименование продукта</label>
                <input asp-for="Product.ProductName"
                       type="text"
                       class="form-control"
                       id="prod_name"
                       placeholder="Телефон">
                <span class="text-danger" asp-validation-for="Product.ProductName"></span>
            </div>
            <div class="form-group mb-3">
                <select asp-for="Product.BrandId" class="form-select">
                    @if (!Model.Brands.Any())
                    {
                        <option selected>Бренды еще не созданы</option>
                    }
                    else
                    {
                        <option selected>Выберите бренд</option>
                        foreach (var brand in Model.Brands)
                        {
                            <option value="@brand.Id">@brand.Name</option>
                        }
                    }
                </select>
                <span class="text-danger" asp-validation-for="Product.BrandId"></span>
            </div>
            <div class="form-group mb-3">
                <select asp-for="Product.CategoryId" class="form-select">
                    @if (!Model.Categories.Any())
                    {
                        <option selected>Категории еще не созданы</option>
                    }
                    else
                    {
                        <option selected>Выберите категорию</option>
                        foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
                <span class="text-danger" asp-validation-for="Product.CategoryId"></span>
            </div>
            <div class="form-group mb-3">
                <label for="model" class="mb-2">Модель</label>
                <input  asp-for="Product.Model"
                        type="text"
                        class="form-control"
                        id="model"
                        placeholder="IPhone 14 Pro">
                <span class="text-danger" asp-validation-for="Product.Model"></span>
            </div>
            <div class="form-group mb-3">
                <label for="description" class="mb-2">Описание</label>
                <textarea  asp-for="Product.Description"
                       type="text"
                       class="form-control"
                       id="description"
                       placeholder="Отличная штука, умеет много, стоит не дорого">
                </textarea>
                <span class="text-danger" asp-validation-for="Product.Description"></span>
            </div>
            <div class="form-group mb-3">
                <label for="price" class="mb-2">Цена</label>
                <input asp-for="Product.Price"
                       type="text"
                       class="form-control"
                       id="price"
                       placeholder="10000000000000$">
                <span class="text-danger" asp-validation-for="Product.Price"></span>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2" for="inputGroupFile01">Картинка</label>
                <input type="file" class="form-control" id="inputGroupFile01" name="uploadedFile">
                <span class="text-danger" asp-validation-for="Product.Image"></span>
            </div>
            <button type="submit" class="btn btn-outline-info mt-3">Создать</button>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}